.add-recipe {
    position: fixed;
    left: 50%;
    top: 4rem;
    z-index: 10;
    max-width: 700px;
    margin: 0 0 0 -351px;
    padding: 1rem;
    background-color: var(--nearwhite);
    border: 2px solid var(--red);
    border-radius: 1rem;
    box-shadow: 0px 10px 10px rgba(38, 36, 36, 0.6);
}

.add-recipe h2 {
    font-size: 2rem;
    margin: 0.5rem;
    color: var(--red);
    font-family: 'Reenie Beanie', cursive;
    text-align:center;
}

.add-recipe form > * {
    display: block;
    margin: 1rem 0;
}

.add-recipe form label input {
    display: block;
    width: 90%;
    margin-top: 0.5rem;
}

.add-recipe form label input[type=text]:focus {
      outline:none;
      box-shadow: 0 0 5px var(--red);
    }