:root {
  --nearwhite:#F5F1EB;
  --red:#C92023;
  --lighter: #F1AAAB;
  --lightest: #F8D6D7;
}

body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  color: #000000;
  background-color: var(--red);
  background-image: url('./assets/img/tablecloth-texture.gif');
}

main {
  max-width: 900px;
  background-color: var(--nearwhite);
  border-radius: 1rem;
  box-shadow: 0px 10px 10px rgba(38, 36, 36, 0.6);
  margin: 2rem auto;
  padding: 1rem 0;
}

h1 {
  font-size: 3rem;
  margin: 0;
  color: var(--red);
  font-family: 'Reenie Beanie', cursive;
  text-align: center;
}

button {
  display: block;
  font-family: 'Reenie Beanie', cursive;
  background-color: var(--red);
  color: var(--nearwhite);
  cursor: pointer;
  font-size: 1.5rem;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin: 0.5rem auto;
}

.recipe-title {
  margin: 0px;
  border: 1px solid var(--nearwhite);
  padding: 5px 5px 5px 20px;
  font-family: 'Reenie Beanie', cursive;
  background-color: var(--red);
  color: var(--nearwhite);
  font-size: 2rem;
}

.ingredients {
  margin-top: 0px;
  padding: 0px;
  list-style-type: none;
}

.ingredients li {
  padding: 5px 20px;
}

.ingredients li:nth-child(even) {
  background-color: var(--lightest);
}

.ingredients li:nth-child(odd) {
  background-color: var(--lighter);
}
