:root {
  --nearwhite:#F5F1EB;
  --red:#C92023;
}

body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  color: #000000;
  background-color: var(--red);
  background-image: url('./assets/img/tablecloth-texture.gif');
}

main {
  max-width: 900px;
  background-color: var(--nearwhite);
  border-radius: 1rem;
  box-shadow: 0px 10px 10px rgba(38, 36, 36, 0.6);
  margin: 2rem auto;
  padding: 1rem 0;
}

h1 {
  font-size: 3rem;
  margin: 0;
  color: var(--red);
  font-family: 'Reenie Beanie', cursive;
  text-align: center;
}

button {
  display: block;
  font-family: 'Reenie Beanie', cursive;
  background-color: var(--red);
  color: var(--nearwhite);
  cursor: pointer;
  font-size: 1.5rem;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin: 0.5rem auto;
}
